<div class="product-department">
    <!-- ngFor loops over product.department and assigns each department to a name -->
     <!-- let i=index is how you get the iteration number out for ngFor -->
    <span *ngFor= "let name of product.department; let i=index">
        <a href= "#"> {{ name }} </a>
        <!-- i variable is used to determine if we should show the greater than symbol -->
        <!-- so it should look something like Women > Apparel > Jackets & Vests -->
        <!-- this syntax says that we only want to use the '>' character if were not the last department so on the last department and empty string is shown -->
        <span>{{i < (product.department.length-1) ? '>' : ''}}</span>
    </span>
</div>